{% extends 'base.html.twig' %}



{% block title %}Register{% endblock %}

{% block body %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}


    <h1>Register</h1>
    {% if app.user.username == 'Admin' %}
        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.Username) }}
            {{ form_row(registrationForm.plainPassword) }}

            <button type="submit" class="btn">Register</button>
        {{ form_end(registrationForm) }}
    {% endif %}
    <div class="mb-3">
        <a href="{{ path('placing_index') }}">Main Page</a>
    </div>
{% endblock %}
