{% extends 'base.html.twig' %}

{% block access %}
    @IsGranted({"ROLE_USER", "ROLE_SYSTEM"})
{% endblock %}

{% block title %}Placing index{% endblock %}

{% block body %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <h1>Placing index</h1>
    <a href="{{ path('placing_new') }}">Maak een Gok</a>
    <br>
    <br>
    <table class="table">
        <thead>
            <tr>
                {% if app.user.username == 'Admin' %}
                <th>Id</th>
                {% endif %}
                <th>User</th>
                <th>Nr1</th>
                <th>Nr2</th>
                <th>Nr3</th>
                <th>Nr4</th>
                <th>Punten</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for placing in placings %}
            <tr>
                {% if app.user.username == 'Admin' %}
                <td>{{ placing.id }}</td>
                {% endif %}
                <td>{{ placing.User }}</td>
                <td>{{ placing.Nr1 }}</td>
                <td>{{ placing.Nr2 }}</td>
                <td>{{ placing.Nr3 }}</td>
                <td>{{ placing.Nr4 }}</td>
                <td><p>0</p></td>
                <td>
                    {% if app.user.username == 'Admin' %}
                    <button><a href="{{ path('placing_show', {'id': placing.id}) }}">check</a></button>
                    {# Using form to formulate and getting the info for Delete #}
                    <form method="post" action="{{ path('placing_delete', {'id': placing.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ placing.id) }}">
                        <button class="btn">Delete</button>
                    </form>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
